In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/raw/covid.csv', sep=',')

# Validate NULLS

In [10]:
validate_nulls = df.isna().sum().to_frame()
validate_nulls.reset_index(inplace=True)
validate_nulls.columns = ['columns','null_total']
validate_nulls['total_rows'] = df.shape[0]
validate_nulls['percentage_nulls'] =  round(validate_nulls['null_total'] / validate_nulls['total_rows'], 5) * 100
validate_nulls

,columns,null_total,total_rows,percentage_nulls
0,city,20119,3853648,0.522
1,city_ibge_code,13646,3853648,0.354
2,date,0,3853648,0.000
3,epidemiological_week,0,3853648,0.000
4,estimated_population,13646,3853648,0.354
5,estimated_population_2019,13646,3853648,0.354
6,is_last,0,3853648,0.000
7,is_repeated,0,3853648,0.000
8,last_available_confirmed,0,3853648,0.000
9,last_available_confirmed_per_100k_inhabitants,29166,3853648,0.757
10,last_available_date,0,3853648,0.000
11,last_available_death_rate,0,3853648,0.000
12,last_available_deaths,0,3853648,0.000
13,order_for_place,0,3853648,0.000
14,place_type,0,3853648,0.000
15,state,0,3853648,0.000
16,new_confirmed,0,3853648,0.000
17,new_deaths,0,3853648,0.000

In [13]:
nulls_city = df[df['city'].isna()]
nulls_city.head(2)

,city,city_ibge_code,date,epidemiological_week,estimated_population,estimated_population_2019,is_last,is_repeated,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,last_available_date,last_available_death_rate,last_available_deaths,order_for_place,place_type,state,new_confirmed,new_deaths
1,NaN,12.0,2020-03-17,202012,894470.0,881935.0,False,False,3,0.33539,2020-03-17,0.0,0,1,state,AC,3,0
3,NaN,12.0,2020-03-18,202012,894470.0,881935.0,False,False,3,0.33539,2020-03-18,0.0,0,2,state,AC,0,0

In [14]:
nulls_city_ibge_code = df[df['city_ibge_code'].isna()]
nulls_city_ibge_code.head(2)

,city,city_ibge_code,date,epidemiological_week,estimated_population,estimated_population_2019,is_last,is_repeated,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,last_available_date,last_available_death_rate,last_available_deaths,order_for_place,place_type,state,new_confirmed,new_deaths
16196,Importados/Indefinidos,NaN,2020-03-29,202014,NaN,NaN,False,False,4,NaN,2020-03-29,0.0,0,1,city,AL,4,0
16200,Importados/Indefinidos,NaN,2020-03-30,202014,NaN,NaN,False,False,4,NaN,2020-03-30,0.0,0,2,city,AL,0,0

In [15]:
nulls_city_ibge_code['city'].nunique()

1

In [16]:
nulls_city_ibge_code['city'].unique()

array(['Importados/Indefinidos'], dtype=object)

# Verify Primary Key

In [17]:
df['primary_key'] = df['date'].astype(str) + df['city_ibge_code'].astype(str)
df.head(5)

,city,city_ibge_code,date,epidemiological_week,estimated_population,estimated_population_2019,is_last,is_repeated,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,last_available_date,last_available_death_rate,last_available_deaths,order_for_place,place_type,state,new_confirmed,new_deaths,primary_key
0,Rio Branco,1200401.0,2020-03-17,202012,413418.0,407319.0,False,False,3,0.72566,2020-03-17,0.0,0,1,city,AC,3,0,2020-03-171200401.0
1,NaN,12.0,2020-03-17,202012,894470.0,881935.0,False,False,3,0.33539,2020-03-17,0.0,0,1,state,AC,3,0,2020-03-1712.0
2,Rio Branco,1200401.0,2020-03-18,202012,413418.0,407319.0,False,False,3,0.72566,2020-03-18,0.0,0,2,city,AC,0,0,2020-03-181200401.0
3,NaN,12.0,2020-03-18,202012,894470.0,881935.0,False,False,3,0.33539,2020-03-18,0.0,0,2,state,AC,0,0,2020-03-1812.0
4,Rio Branco,1200401.0,2020-03-19,202012,413418.0,407319.0,False,False,4,0.96754,2020-03-19,0.0,0,3,city,AC,1,0,2020-03-191200401.0

In [18]:
df.groupby(by=['primary_key'], sort=True)

3853648